body {
	margin: 0 auto;
	background-color: #0079BF;
}
.navbar {
	background-color: #07486E;
	height: 40px;
	width: 100%;
	height: 45px;
}
img {
	height: 30px;
	width: 80px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    -webkit-filter: opacity(30%); /* Safari */
    filter: opacity(30%);

}

img:hover {
	-webkit-filter: opacity(70%); /* Safari */
    filter: opacity(70%);
}

.secondnav{
	height:45px;
	width: 100%;
	background-color: red; 
	font-family: Arial;
	color: #fff;


}
.navbtn{
	margin-top: 6px;
	margin-left: 6px;
	top:24px;
	background-color: red;
	border-radius: 3px;
	border: none;
	line-height: 5px;
    font-size: 18px;
    line-height: 30px;
    padding-left: 4px;
    color:#fff;
    outline:0;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.navbtn:hover{
	background-color: #9F0B0B;
}
.icon-star {
	font-size: 13px;
	padding: 6px;
	font-weight: bold!important;
}
.star {
	background-color: red;
	outline: 0;
	color:#fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	height: 32px;


}
.star:hover {
	background-color:  #9F0B0B;
}

.pri {
	background-color: red;
	outline: 0;
	color:#fff;
	border: none;
	border-radius: 3px;
	height: 32px;
	font-size: 14px;
}
.pri:hover {
	background-color:  #9F0B0B;
}
.icon-briefcase{
	font-weight: bold!important;
	padding-right: 5px;
}
.menu {
	background-color: red;
	outline: 0;
	color:#fff;
	border: none;
	border-radius: 3px;
	height: 32px;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 10px;
	float:right;
	margin-top: 6px;
}

.menutext{
	text-decoration: underline;
}
.menu:hover {
	background-color: #9F0B0B;
}
